#header_wrap,
footer_wrap {
    background: #373a47;
    color: #b8b7ad;
}

.inner {
    padding: none;
}

#angles_banner {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: none;
}
