#header_wrap,
#footer_wrap {
    background: #373a47;
    color: #b8b7ad;
}

.inner-header {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
}
#angles_banner {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: none;
}
